:root {
	--white: #fff;
	--blue: #39c3fc;
}

.location {
	transition: all 0.2s;
}

.location:hover,
.location.active {
	background: var(--blue);
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1rem;
	padding: 5px;
	margin: 10px 0;
}

.page-footer a {
	margin-left: 4px;
}
